**/*.js*
src/pages/partner/**

src/pages/customer/support-request-listing/**
src/pages/customer/file-uploader.tsx
src/pages/customer/dashboard.tsx

src/pages/admin/availability-check/**
src/pages/admin/blog/**
src/pages/admin/client-support-request/**
src/pages/admin/customer/**
src/pages/admin/event/add-event.tsx
src/pages/admin/event/edit-event/\[id\].tsx
src/pages/admin/faq.tsx
src/pages/admin/hipstr-member/**
src/pages/admin/message/**
src/pages/admin/notification-partner/**
src/pages/admin/partner-support-request/**
src/pages/admin/partner/**
src/pages/admin/role/**
src/pages/admin/venue.tsx
src/pages/admin/video/**

src/components/menu/vertical-menu/VerticalNavMenuLink.tsx

src/utils/platformUtils.tsx
