.drag-n-drop {
  width: 100%;
  max-width: 276px;
  height: 100%;
  min-height: 185px;
  background: rgba(253, 111, 110, 0.08);
  border: 1.5px dashed #fd6f6e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
