th {
  font-size: $sy-h5 !important;
  padding: 0.5rem 1.5rem !important;
}
td {
  padding: 0.5rem 1.5rem !important;
}
.action {
  padding-left: 2.5rem !important;
}

.react-dataTable-member {
  border-radius: 0;
  .rdt_TableHead {
    //for sticky last col head
    .rdt_TableCol:nth-child(7) {
      position: sticky;
      right: 0;
      background-color: white;
    }
    .rdt_TableHeadRow {
      background-color: transparent !important;
      border-top: 1px solid;
      border-color: #ebe9f1;
      min-height: 0;
      height: 38px;

      .rdt_TableCol {
        padding: 0.72rem 1.5rem;
        .rdt_TableCol_Sortable {
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #5e5873;
        }
      }
    }
  }

  .rdt_TableBody {
    .rdt_TableRow {
      // cursor: pointer;

      .rdt_TableCell {
        height: 53px;
        padding: 0.72rem 1.5rem;
        color: $sy-black;

        .column-action {
          svg {
            stroke: #b9b9c3;
          }

          .dropdown-item:hover {
            svg {
              stroke: $primary;
            }
          }

          .dropdown-item:active {
            svg {
              stroke: $sy-white;
            }
          }
        }
      }
    }
    //for sticky last col
    .rdt_TableCell:nth-child(7) {
      position: sticky;
      right: 0;
      background: inherit;
    }
  }

  .table-name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5e5873;
  }
}
.partner-name {
  // &::after{
  //     content: "";
  //     position: absolute;
  //     width: 9px;
  //     height: 9px;
  //     background-color: $primary;
  //     border-radius: 50%;
  //     margin-left: 3px;
  // }
}
