// .containe-main{
//     font-family: ;
//     .main-data{

//     }
// }
.signatureCanvas {
  border: 1px solid black;
  // width: 100%;
  width: 460px;
  height: 300px;
  min-height: 500px;
}

.canvas-data {
  width: 460px;
  height: 300px;
}
canvas {
  width: 460px;
  height: 300px;
}
#canvas4 {
  cursor:
    url(http://www.fabiani.edu.pl/szablony/domyslny/gfx/menu_dot.png) 7 8,
    progress;
}
.css-1rhbuit-multiValue {
  background-color: #fd6f6e;
  margin-bottom: 4px;
}
.css-1p3m7a8-multiValue {
  background-color: #fd6f6e !important;
  margin-bottom: 4px;
}
.offcanvas-cu-width {
  max-width: 400px;
  width: 100% !important;
}
textarea {
  resize: none !important;
}
.border-right1 {
  // border-right-color: transparent;
  background-color: transparent !important;
  opacity: 1 !important;
  &:focus {
    border-right-color: transparent !important;
  }
}
.offcanvas-header {
  background: #f8f8f8;
}
